.main_chat
  .main_info
    .main_group
      .main_group_name
        = @group.name
      .member_list
        - @group.users.each do |user|
          =user.name
    .edit_button
      = link_to edit_group_path(@group) do
        Edit
  .main_list
    .message_box
      .message_info
        = render @messages
        .message_info_name
        .message_info_date
      .message
        .message_contents

  .main_form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form_contents
        = f.text_field :content, class: 'form_message_text', placeholder: 'type a message'
        = f.label :image, class: 'form_image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'message_send_button'